<mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="50"></mat-progress-spinner>
<div *ngIf="!isLoading" class="form register-form">
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="username" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="Email Address" [(ngModel)]="email" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" [(ngModel)]="password" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="confirmedPassword" />
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="register()">Register</button>
</div>