<mat-nav-list class="categories">
  <a mat-list-item *ngFor="let category of categories" routerLink="/categories/{{ category.id }}">
    <p matLine class="category-list-title">
    <span>
      {{ category.title }}
    </span>
    <span class="remaining">
      {{ getCategoryRemainingBalance(category) | currency }} remaining of {{ category.amount / 100 | currency }}
    </span>
    </p>
    <mat-progress-bar matLine color="accent" [ngClass]="{'income': !category.expense, 'expense': category.expense}" mode="determinate" #categoryProgress [attr.id]="'cat-' + category.id" value="{{ getCategoryCompletion(category) }}"></mat-progress-bar>
  </a>
</mat-nav-list>
