{{> partials/head }}
<div id="app">
    <div class="center">
        <div class="logo"></div>
        <p>Looks like you got a little lost in the woods. Take a few steps back and try again!</p>
    </div>
</div>
{{>partials/foot}}