{{> partials/head }}
<div id="app">
    {{>partials/sidebar}}
    <main>
        <header class="row">
            <a id="hamburger" href="#sidebar">☰</a>
            <h1>{{title}}</h1>
            <div class="row">
                <a href="/budgets/{{budget.id}}/transactions/new"
                   class="button button-secondary">
                    <span aria-description="New Transaction">+</span> <span class="hide-small" aria-hidden="true">New Transaction</span>
                </a>
                <a href="/budgets/{{budget.id}}/edit"
                   class="button button-secondary" style="margin-right: 10px;">
                    <span aria-description="Edit Budget">✎</span> <span class="hide-small" aria-hidden="true">Edit Budget</span>
                </a>
                <form action="/budgets/{{budget.id}}/delete" method="post">
                    <!-- TODO: Show confirmation dialog before actually deleting -->
                    <button class="button button-danger" style="margin-right: 10px;">
                        <span aria-description="Delete Budget">🗑</span> <span class="hide-small" aria-hidden="true">Delete Budget</span>
                    </button>
                </form>
            </div>
        </header>
        <p>{{budget.description}}</p>
        <div class="card">
            <div class="row">
                <div class="stacked-label">
                    <p class="body-small">Month</p>
                    <p class="body-large">{{monthAndYear}}</p>
                </div>
                <div class="stacked-label">
                    <p class="body-small">Cash Flow</p>
                    <p class="body-large">{{balances.cashFlow}}</p>
                </div>
                <div class="stacked-label">
                    <p class="body-small">Transactions</p>
                    <p class="body-large">{{transactionCount}}</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="column">
                <p>Expected income: {{balances.expectedIncomeLabel}}</p>
                <progress style="margin: 0 0.5rem;"
                          value="{{balances.expectedIncome}}"
                          max="{{balances.maxProgressBarValue}}">{{balances.expectedIncomeLabel}}</progress>
                <p>Actual Income: {{balances.actualIncomeLabel}}</p>
                <progress style="margin: 0 0.5rem;"
                          value="{{balances.actualIncome}}"
                          max="{{balances.maxProgressBarValue}}">{{balances.actualIncomeLabel}}</progress>
                <p>Expected expenses: {{balances.expectedExpensesLabel}}</p>
                <progress style="margin: 0 0.5rem;"
                          value="{{balances.expectedExpenses}}"
                          max="{{balances.maxProgressBarValue}}">{{balances.expectedExpensesLabel}}</progress>
                <p>Actual Income: {{balances.actualIncomeLabel}}</p>
                <progress style="margin: 0 0.5rem;"
                          value="{{balances.actualExpenses}}"
                          max="{{balances.maxProgressBarValue}}">{{balances.actualExpensesLabel}}</progress>
            </div>
        </div>
        <div class="card">
            <header class="row">
                <h3>Income</h3>
                <a href="/budgets/{{budget.id}}/categories/new?expense=false" class="button button-secondary">
                    <!-- TODO: Hide text on small widths -->
                    <span aria-description="New Category">+</span> <span class="hide-small" aria-hidden="true">New Category</span>
                </a>
            </header>
            <ul>
                {{#incomeCategories}}
                    {{>partials/category-list}}
                {{/incomeCategories}}
            </ul>
            <details>
                <summary>Archived</summary>
                <ul>
                    {{#archivedIncomeCategories}}
                        {{>partials/category-list}}
                    {{/archivedIncomeCategories}}
                </ul>
            </details>
        </div>
        <div class="card">
            <header class="row">
                <h3>Expenses</h3>
                <a href="/budgets/{{budget.id}}/categories/new?expense=true" class="button button-secondary">
                    <!-- TODO: Hide text on small widths -->
                    <span aria-description="New Category">+</span> <span class="hide-small" aria-hidden="true">New Category</span>
                </a>
            </header>
            <ul>
                {{#expenseCategories}}
                    {{>partials/category-list}}
                {{/expenseCategories}}
            </ul>
            <details>
                <summary>Archived</summary>
                <ul>
                    {{#archivedExpenseCategories}}
                        {{>partials/category-list}}
                    {{/archivedExpenseCategories}}
                </ul>
            </details>
        </div>
    </main>
</div>
{{>partials/foot}}