<!DOCTYPE html>
<html>
{{> partials/head }}
<body>
<div id="app">
    <div class="center">
        <div class="flex-full-width">
            {{>partials/budget-list}}
        </div>
    </div>
</div>
{{>partials/foot}}
</body>
</html>