{{> partials/head }}
<div id="app">
    {{>partials/sidebar}}
    <main>
        <div class="column">
            <header class="row">
                <a id="hamburger" href="#sidebar">☰</a>
                <h1>{{title}}</h1>
                <a href="/budgets/{{budget.id}}/transactions/new?categoryId={{category.category.id}}"
                class="button button-secondary">
                <!-- TODO: Hide text on small widths -->
                <span aria-description="New Transaction">+</span> <span aria-hidden="true">New Transaction</span>
                </a>
            </header>
            <p>{{category.category.description}}</p>
        </div>
        <div class="card">
            <div class="row">
                <div class="stacked-label">
                    <p class="body-small">Budgeted</p>
                    <p class="body-large">{{category.amountLabel}}</p>
                </div>
                <div class="stacked-label">
                    <p class="body-small">Actual</p>
                    <p class="body-large">{{category.balanceLabel}}</p>
                </div>
                <div class="stacked-label">
                    <p class="body-small">Remaining</p>
                    <p class="body-large">{{category.remainingAmountLabel}}</p>
                </div>
            </div>
            <progress value="{{category.balance}}"
                      max="{{category.category.amount}}">{{category.balanceLabel}}</progress>
        </div>
        <div class="card">
            <!-- TODO: Add a search bar to filter transactions by name/description -->
            <h3>Transactions</h3>
            <ul>
                {{#transactions}}
                    {{>partials/transaction-list}}
                {{/transactions}}
            </ul>
        </div>
    </main>
</div>
{{>partials/foot}}