<!DOCTYPE html>
<html>
{{> partials/head }}
<body>
<div id="app">
    <div class="center">
        <div class="logo"></div>
        <div class="flex-full-width">
            <a href="/login" class="button button-primary">Login</a>
            <a href="/register" class="button button-secondary">Register</a>
        </div>
    </div>
</div>
{{>partials/foot}}
</body>
</html>