{{> partials/head }}
<div id="app">
    {{>partials/sidebar}}
    <main>
        <div class="column">
            <header class="row">
                <a id="hamburger" href="#sidebar">☰</a>
                <h1>{{title}}</h1>
                <div class="row">
                    <a href="/budgets/{{budget.id}}/recurring/new"
                       class="button button-secondary">
                        <!-- TODO: Hide text on small widths -->
                        <span aria-description="New Recurring Transaction">+</span> <span
                            aria-hidden="true">New Recurring Transaction</span>
                    </a>
                </div>
            </header>
        </div>
        <div class="card">
            <!-- TODO: Add a search bar to filter transactions by name/description -->
            <ul>
                {{#transactions}}
                    {{>partials/recurring-transaction-list}}
                {{/transactions}}
            </ul>
        </div>
    </main>
</div>
{{>partials/foot}}