<div class="dashboard">
  <mat-card class="dashboard-primary" [hidden]="!budget">
    <h2 class="balance">
      Current Balance: <br />
      <span
        [ngClass]="{'income': budgetBalance > 0, 'expense': budgetBalance < 0}">{{ budgetBalance / 100 | currency }}</span>
    </h2>
    <app-category-breakdown [barChartLabels]="barChartLabels" [barChartData]="barChartData">
      </app-category-breakdown>
    <div class="transaction-navigation">
      <a mat-button routerLink="/transactions" [queryParams]="{budgetIds: budget.id}" *ngIf="budget">View Transactions</a>
    </div>
  </mat-card>
  <mat-card class="dashboard-categories" [hidden]="!budget">
    <h3 class="categories">Income</h3>
    <a mat-button routerLink="/categories/new" [queryParams]="{budgetId: budget.id}" class="view-all" *ngIf="budget">Add Category</a>
    <div class="no-categories" *ngIf="!income || income.length === 0">
      <a mat-button routerLink="/categories/new" [queryParams]="{budgetId: budget.id}" *ngIf="budget">
        <mat-icon>add</mat-icon>
        <p>Add categories to gain more insights into your income.</p>
      </a>
    </div>
    <div class="category-info" *ngIf="income && income.length > 0">
      <app-category-list [budgetId]="budget.id" [categories]="income" [categoryBalances]="categoryBalances">
      </app-category-list>
    </div>
  </mat-card>
  <mat-card class="dashboard-categories" [hidden]="!budget">
    <h3 class="categories">Expenses</h3>
    <a mat-button routerLink="/categories/new" [queryParams]="{budgetIds: budget.id, expense: true}" class="view-all" *ngIf="budget">Add Category</a>
    <div class="no-categories" *ngIf="!expenses || expenses.length === 0">
      <a mat-button routerLink="/categories/new" [queryParams]="{budgetIds: budget.id, expense: true}" *ngIf="budget">
        <mat-icon>add</mat-icon>
        <p>Add categories to gain more insights into your expenses.</p>
      </a>
    </div>
    <div class="category-info" *ngIf="expenses && expenses.length > 0">
      <app-category-list [budgetId]="budget.id" [categories]="expenses" [categoryBalances]="categoryBalances">
      </app-category-list>
    </div>
  </mat-card>
</div>
<a mat-fab routerLink="/transactions/new" [queryParams]="{budgetId: budget.id}" *ngIf="budget">
  <mat-icon aria-label="Add">add</mat-icon>
</a>