.dashboard {
  color: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1em;
}

.dashboard>mat-card {
  background: #FFFFFF;
  display: inline-block;
  margin: 1em;
  padding: 1em;
  max-width: 500px;
  position: relative;
  width: 100%;
  align-self: flex-start;
}

.dashboard .dashboard-primary {
  padding: 5em 1em;
  text-align: center;
}

.dashboard-primary>* {
  display: block;
}

.dashboard div h2,
.dashboard div h3 {
  margin: 0;
}

.dashboard p,
.dashboard a {
  color: #333333;
  text-align: center;
  text-decoration: none;
}

.dashboard-primary div {
  bottom: 0.5em;
  display: flex;
  justify-content: flex-end;
  left: 0.5em;
  right: 0.5em;
  position: absolute;
}

.dashboard .no-categories {
  padding: 1em;
  text-align: center;
}

.dashboard .no-categories a {
  border-color: #333333;
  display: inline-block;
  border: 1px dashed;
  padding: 1em;
}

.dashboard .no-categories p {
  line-height: normal;
  white-space: normal;
}

a.view-all {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

@media (min-width: 1160px) {
  mat-card {
    box-sizing: border-box;
  }

  .category-info {
    height: 313px;
    overflow: auto;
  }
}

@media (max-width: 610px) {
  .dashboard {
    padding: 0;
  }

  .dashboard>mat-card {
    margin: 1em auto;
  }
}

@media (prefers-color-scheme: dark) {
  .dashboard {
    color: #F1F1F1;
  }

  .dashboard>mat-card {
    background: #212121;
  }

  .dashboard p,
  .dashboard a {
    color: #F1F1F1;
  }

  .dashboard .no-categories a {
    border-color: #F1F1F1;
  }
}