<li class="list-item">
    <a href="/categories/{{category.id}}">
        <div class="row" style="justify-content: space-between">
            <span class="body-large">{{category.title}}</span>
            <span class="body-small">{{remainingAmountLabel}} remaining</span>
        </div>
        <progress value="{{balance}}" max="{{category.amount}}">{{balanceLabel}}</progress>
    </a>
</li>