<!DOCTYPE html>
<html lang="en-US"> <!-- TODO: Localization -->
<head>
    <link rel="stylesheet" href="/style.css"/>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/touch-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <meta name="apple-mobile-web-app-title" content="Twigs">
    <meta name="application-name" content="Twigs">
    <meta name="theme-color" content="#FFFFFF">
    <link rel="manifest" href="manifest.json">
</head>
<body>