<li class="list-item">
    <h5>
        {{label}}
    </h5>
</li>
{{#items}}
    <li class="list-item">
        <a href="/budgets/{{budgetId}}/recurring/{{id}}">
            <div class="row" style="justify-content: space-between">
                <div class="column">
                    <span class="body-large">{{title}}</span>
                    <span class="body-small">{{description}}</span>
                </div>
                <span class="body-medium {{expenseClass}}">{{amountLabel}}</span>
            </div>
        </a>
    </li>
{{/items}}