<aside id="sidebar" class="sidebar">
    <div class="logo" style="height: 100px; width: 100px;"></div>
    <ul>
        <li class="list-item">
            <a href="/budgets/{{budget.id}}">
                Overview
            </a>
        </li>
        <li class="list-item">
            <a href="/budgets/{{budget.id}}/transactions">
                Transactions
            </a>
        </li>
        <li class="list-item">
            <a href="/budgets/{{budget.id}}/recurring">
                Recurring Transactions
            </a>
        </li>
    </ul>
    <hr/>
    {{>budget-list}}
    <hr/>
    <ul>
        <!--
        TODO: Implement profile page
        <li class="list-item">
            <a href="/profile">
                Profile
            </a>
        </li>
        TODO: Implement settings page
        <li class="list-item">
            <a href="/settings">
                Settings
            </a>
        </li>
        TODO: Implement about page and move source code link there
        <li class="list-item">
            <a href="/about">
                About Twigs
            </a>
        </li>
        -->
        <li class="list-item">
            <form action="/logout" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </li>
        <li class="list-item">
            <a href="https://github.com/wbrawner/twigs">
                Source Code
            </a>
        </li>
    </ul>
</aside>