<mat-progress-spinner *ngIf="loading" diameter="50" mode="indeterminate"></mat-progress-spinner>
<div class="dashboard" *ngIf="!loading && !loggedIn">
  <h2 class="log-in">Welcome to Twigs!</h2>
  <p>To begin tracking your finances, login or create an account!</p>
  <div class="auth-button-container">
    <a routerLink="/register" mat-stroked-button color="accent">Register</a>
    <a routerLink="/login" mat-raised-button color="accent">Login</a>
  </div>
</div>
<mat-nav-list class="budgets" *ngIf="!loading && loggedIn">
  <a mat-list-item *ngFor="let budget of budgets" routerLink="/budgets/{{ budget.id }}">
    <p matLine class="budget-list-title">
      {{ budget.name }}
    </p>
    <p matLine class="budget-list-description">
      {{ budget.description }}
    </p>
  </a>
</mat-nav-list>
<div class="no-budgets" *ngIf="!loading && loggedIn && (!budgets || budgets.length === 0)">
  <a mat-button routerLink="/budgets/new">
    <mat-icon>add</mat-icon>
    <p>Add budgets to begin tracking your finances.</p>
  </a>
</div>
<a mat-fab routerLink="/budgets/new" *ngIf="!loading && loggedIn">
  <mat-icon aria-label="Add">add</mat-icon>
</a>