mat-toolbar {
  background-color: #fafafa;
  box-shadow: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  position: sticky;
  top: 0;
  z-index: 999999;
}

@media (prefers-color-scheme: dark) {
  mat-toolbar {
    background-color: #303030;
  }
}