<mat-nav-list *ngIf="transactions" class="transactions">
    <a mat-list-item class="transaction-list-item" *ngFor="let transaction of transactions"
        routerLink="/transactions/{{ transaction.id }}">
        <div matLine class="transaction-list-details">
            <p class="transaction-title">{{transaction.title}}</p>
            <p class="transaction-description text-small" *ngIf="transaction.description">{{transaction.description }}</p>
            <p matLine class="transaction-date text-small">{{ transaction.date | date }}</p>
        </div>
        <p class="amount" [class.expense]="transaction.expense" [class.income]="!transaction.expense">
            {{ transaction.amount / 100 | currency }}
        </p>
    </a>
</mat-nav-list>